body{
    background:black;
    color: rgb(194, 194, 178);
}
h1{
    color:rgb(236, 236, 185);
    text-align: center;
    font-weight: 900;
    margin: 30px;
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 900;
    line-height: 50px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    color: rgb(255, 255, 255);
    word-spacing: 10px;
    font-family: "Passions Conflict", serif;
    font-style: normal;
}
#resto{
    color: rgb(236, 236, 185);
    font-weight: 600;
}
#highlight{
    color:rgb(236, 236, 185);
    font-weight: 600;
    margin: 30px;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left img{
    margin-top: 10px;
    margin: 20px;
    height: 300px;
    width: 300px;
    border-radius: 30%;
}
